.btn {
    min-width: 120px;
    width: 100%;
    padding: 4px;
    text-align: center;
    border-style: solid;
    border-radius: 28px;
    border-width: 4px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &.btn-primary {
        color: var(--white);
        background-color: var(--primary-brand);
        border-color: var(--primary-brand);

        &:hover, 
        &:active {
            border-color: var(--primary-d1);
            background-color: var(--primary-d1);
        }

        &:focus {
            border-color: #3D84FFBF;
        }

        &:disabled {
            background-color: var(--gray-l2);
            border-color: var(--gray-l2);
        }
    }

    &.btn-secondary {
        background-color: var(--white);
        color: var(--primary-brand);
        border-color: var(--primary-brand);

        &:hover, 
        &:active {
            border-color: var(--primary-d1);
        }

        &:focus {
            border: 4px solid #3D84FFBF;
        }

        &:disabled {
            background-color: var(--gray-l2);
            border-color: var(--gray-l2);
        }
    }
}


.btn-link {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 12px;

    border: none; 
    background-color: transparent;
}