.header-section {
    font-size: var(--unnamed-font-size-16);
    border-bottom: 1px solid var(--gray-d1);

    .aem-Grid {
        display: flex;
        align-items: center;

        &.mobile {
            .aem-GridColumn {
                &:nth-child(1) {
                    text-align: left;
                }
    
                &:nth-child(2) {
                    text-align: center;
                }
    
                &:nth-child(3) {
                    text-align: right;
    
                    svg:nth-child(1) {
                        padding-right: 24px;
                    }
                }
            }
        }

        &.desktop {
            .aem-GridColumn {
                &:nth-child(1) {
                    text-align: left;
                }
    
                &:nth-child(2) {
                    text-align: center;

                    ul {
                        display: flex;
                        justify-content: center;
                        li {
                            display: block;
                            padding-right: 16px;

                            a {
                                text-decoration: none;
                                color: black;
                                cursor: pointer;
                            }
                        }
                    }
                }
    
                &:nth-child(3) {
                    display: flex;
                    justify-content: flex-end;

                    div {
                        display: flex;
                        align-items: center;
                        position: relative;
                        
                        &:not(:last-child) {
                            padding-right: 24px;
                        }

                        svg {
                            padding-right: 4px;
                        }
                    }
                }
            }
        }
    }   
}