.cart-item-section {
    margin-top: var(--unnamed-pixel-28);
    margin-bottom: var(--unnamed-pixel-28);

    figure {
        margin: 0;
        height: 100%;
        width: 100%;

        img {
            width: 50%;
        }
    }

    .action-section {
        div {
            display: flex;
            align-items: center;
            padding-left: var(--unnamed-pixel-36);
            margin-bottom: var(--unnamed-pixel-8);
            cursor: pointer;


            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--black);
            }
        }
    }
}