.product-header-section {
    border-bottom: 1px solid var(--gray-d1);
    padding-bottom: 12px;


    div {
        margin-bottom: 8px;
    }

    .rating-section {
        display: flex;
        align-items: center;

        svg {
            margin-right: 2px;
        }
    }
}